{% extends "ZooApp/layout.html" %}
{%load static %}
{% block content %}
<div id="footer" class="container">
	<div class="title">
		<h2>Get in touch</h2>
	</div>
	<ul class="contact" style="color: rgb(128,128,128);">
		<li><h2>Sumit Jogalekar </h2></li><br>
		<li><h2>sumit.jogalekar.39@gmail.com</h2></li><br>
		<li><h2>+91-8867077352</h2></li><br>
	</ul>
	<ul class="contact" style="color: rgb(128,128,128);">
		<li><h2>Sujan C </h2></li><br>
		<li><h2>sujanc017@gmail.com</h2></li><br>
		<li><h2>+91-8762917028</h2><br></li><br>
	</ul>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
{%endblock%}